@mixin main-font {
	font-family: 'Montserrat', sans-serif;
}
@mixin secondary-font {
	font-family: 'Nunito Sans', sans-serif;
}
$color-black: #141414;
$color-grey: #838383;
$color-lightGrey: #dddddd;
$color-veryLightGrey: #f6f6f6;
$color-blue: #21bfb9;

$screen-sm:576px;
$screen-md:768px;
$screen-lg:992px;
$screen-xl:1200px;

html, body {
	margin: 0;
	padding: 0;
}
h1 {
	@include main-font;
}
p {
	@include secondary-font;
	margin: 0;
}
// all header
header {
	margin: 0 100px;
	padding: 0;
	height: 100px;
	@include main-font;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	nav {
		display: flex;
		flex-direction: row;
		a {
			margin-left: 30px;
			text-decoration: none;
			font-size: 12px;
			color: black;
			&:hover {
				color:$color-blue;
			}
		}
		.active {
		color:$color-blue;
		}
	}
}
// all header

// main home page
.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $color-veryLightGrey;
	width: 100%;
	article {
		text-align: center;
		margin: 100px 0;
		h1 {
			font-size: 38px;
			margin: 0 0 30px 0;
		}
		p {
			font-size: 20px;
			color: $color-grey;
		}
	}
}
table {
	border-spacing: 0;
}
.piece {
	height: 33.3333vh;
	width: 25vw;
	padding: 0;
	&-grey {
		background:$color-grey;
	}
	&-light-grey {
		background:$color-lightGrey;
	}
	&-blue{
		background:$color-blue;
		text-align: center;
	}
}
// main home page

// main about page
.self {
	&-presentation {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #3e3e3e;
		width: 100%;
		article {
			text-align: center;
			margin: 8% 0 10% 0;
			h1 {
				color: white;
				font-size: 38px;
				margin: 0 0 5% 0;
			}
			p {
				font-size: 20px;
				color:$color-veryLightGrey;
				margin: 0 20%;
			}
		}
	}
	&-career {
		background-color: $color-blue;
		color: white;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		&-experience {
			display: flex;
			flex-direction: row;
			margin: 100px 0;
			&_icon {
				margin-right: 30px;
				height: 100%;
			}
			&_info{
				display: flex;
				flex-direction: column;
				h1 {
					margin: 0;
					font-size: 20px;
				}
				p {
					@include main-font;
					font-size: 13px;
					margin: 5px 0 0 0;
				}
			}
		}
	}
	&-letter {
		display: flex;
		flex-direction: row;
		&_lightGrey {
			width: 50%;
			background-color: $color-lightGrey;
		}
		&_info {
			width: 50%;
			background-color: $color-veryLightGrey;
			&-inner {
				margin: 15% 15%;
				h1 {
					font-size: 30px;
					margin: 0;
				}
				p {
					color:$color-grey;
					font-size: 18px;
					margin: 5% 0;
				}
			}
		}
	}
	&-offer {
		text-align: center;
		article {
			margin: 7.5% 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			h1 {
				font-size: 28px;
				margin: 0 0 3% 0;
			}
			p {
				color:$color-grey;
				font-size: 18px;
				margin: 0 0 6% 0;
			}
			a {
				@include main-font;
				background:$color-blue;
				text-decoration: none;
				color: white;
				border: 0px solid $color-blue;
				padding: 20px 50px;
				max-width:180px; 
				&:hover {
					background-color: $color-lightGrey;
					color: black;
				}
			}
		}
	}
}
// main about page

// all footer
footer {
	background-color:#141414;
	color: white;
	@include main-font;
	section {
		display: flex;
		flex-direction: row;
		.company{
			width: 25vw;
			margin: 5% 0 5% 5%;
			h2{
				margin: 0 0 30px 0;
			}
			p {
				color:$color-lightGrey;
			}
		}
		.contact{
			&-info {
				margin: 5% 5% 5% 0;
				color:$color-lightGrey;
			}
			&-number {
				font-family:'Work Sans', sans-serif;
			}
		}
		.social {
			margin: 5% 5% 5% 10%;
			display: flex;
			flex-direction: column;
			font-size: 15px;
		}
		a {
			color:white;
			text-decoration: none;
			color:$color-lightGrey;
			&:hover {
				color: white;
			}
		}
		.column {
			display: flex;
			flex-direction: column;
			margin: 5% 0 5% 5%;
			font-size: 15px;
		}
	}
}
// all footer
